$fuente:'Lobster Two', cursive;
$fuentep:'Pontano Sans', sans-serif;
$color_guinda:#841720;
$color_crema:#FCD47D;
$color_fram:#FC0037;
$color_plomo:#F1F1F1;
$color_cremac:#FFF0C9;
span{
	margin-left: -2px;
}
.fondog{
	background:url("../img/fond.jpg")

	// background-color:#020015;
}
// header
.fondo-header{
	background:url("../img/fondo3.jpg") 50% 0 no-repeat fixed;
	min-height: 700px;
	margin: 0 auto;
	width: 100%;
	max-width: 1920px;
	position: relative;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.nav{
	margin-top:2%;	
	margin-left:50px;
}
#corazon{
	float: left;
	margin-top:-1%;
	width: 105px;
	position: absolute;
	display: block;
	margin-left:40%; 
    // -webkit-box-s1%;hadow: 4px 4px 4px rgba(0,0,0,0.2);
    // -moz-box-shadow: 4px 4px 4px rgba(0,0,0,0.2);
    // box-shadow: 4px 4px 4px rgba(0,0,0,0.2);
    -webkit-transition: all 3s ease-out;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    animation : scales 0.5s ease infinite
}
@keyframes scales{
  from{
   transform : scale(0.9)
  }
  transform : scale(1.1)
}
.nav{
	margin-top: 5%;
	display: flex;
    align-items: center;
    justify-content: center;
}
.ca-menu{
    padding: 0 0 0 48px;
    margin: 20px auto;
    width: 600px;
    position: fixed;
    z-index: 1000;
    
}
.ca-menu li{
    width: 115px;
    height: 115px;
    border: 2px solid $color_guinda;
    overflow: hidden;
    position: relative;
    float:left;
    background: $color_cremac;
    margin-left:-10px;
    -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    -moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    -webkit-border-radius: 125px;
    -moz-border-radius: 125px;
    border-radius: 125px;
    -webkit-transition: all 400ms linear;
    -moz-transition: all 400ms linear;
    -o-transition: all 400ms linear;
    -ms-transition: all 400ms linear;
    transition: all 400ms linear;
}
.ca-menu li:last-child{
    margin-right: 0px;
}
.ca-menu li a{
    text-align: left;
    width: 100%;
    height: 100%;
    display: block;
    color: $color_guinda;
    position: relative;
}
.ca-menu a:hover, .ca-menu a.active
{
	color: $color_guinda;
}
.ca-icon{
    font-family: 'WebSymbolsRegular', cursive;
    font-size: 10px;
    color: $color_guinda;
    line-height: 60px;
    position: absolute;
    width: 100%;
    height: 60px;
    left: 0px;
    top: 10px;
    text-align: center;
    -webkit-transition: all 400ms linear;
    -moz-transition: all 400ms linear;
    -o-transition: all 400ms linear;
    -ms-transition: all 400ms linear;
    transition: all 400ms linear;
}
.ca-main{
    font-size: 15px;
    position: absolute;
    top: 25px;
    height: 80px;
    width: 170px;
    left: 50%;
    margin-left: -85px;
    opacity: 0.8;
    text-align: center;
    color: $color_guinda;
}
.ca-sub{
    display: none;
}
.ca-menu li:hover{
    // border-color: $color_crema;
    z-index: 999;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);    
    background-color:$color_guinda;
    border:2px solid $color_cremac;
}
.ca-menu li:hover .ca-icon{
    color: $color_cremac;
    font-size: 20px;
    text-shadow: 0px 0px 1px #000;
    -webkit-animation: moveFromBottom 100ms ease;
    -moz-animation: moveFromBottom 100ms ease;
    -ms-animation: moveFromBottom 100ms ease;
}
.ca-menu li:hover .ca-main{
    color: $color_cremac;
    -webkit-animation: moveFromBottom 500ms ease;
    -moz-animation: moveFromBottom 500ms ease;
    -ms-animation: moveFromBottom 500ms ease;
}

@-webkit-keyframes moveFromBottom {
    from {
        -webkit-transform: translateY(200%) scale(0.5);
        opacity: 0;
    }
    to {
        -webkit-transform: translateY(0%) scale(1);
        opacity: 1;        
    }
}
@-moz-keyframes moveFromBottom {
    from {
        -moz-transform: translateY(200%) scale(0.5);
        opacity: 0;
    }
    to {
        -moz-transform: translateY(0%) scale(1);
        opacity: 1;        
    }
}
@-ms-keyframes moveFromBottom {
    from {
        -ms-transform: translateY(200%) scale(0.5);
        opacity: 0;
    }
    to {
        -ms-transform: translateY(0%) scale(1);
        opacity: 1;        
    }
}
.nav a{
	font-size:25px;
	font-family:$fuente;
	color:$color_guinda;
	padding:5%;
	transition: all 0.5s;
}
.nav a:hover, .nav a.active{
	font-size:25px;
	font-family:$fuente;
	color:$color_crema;
	// border:2px solid $color_crema;
	// background-color:$color_crema;
	// padding:2px;
	text-decoration:none;
}
.presentacion{
	margin-left:-5px;
}
.presentacion img{
	width:390px;
	margin-top:23%;
	margin-bottom:15%;
	margin-left:160px;
	// border:10px solid #020015;
	border-radius:100%;
}
.presentacion h1{
	font-family:$fuente;
	color:$color_cremac;
	margin-top:30%;
	font-size:70px;
	animation-duration: 3s;
  	animation-name: slidein;
}
.presentacion h2{
	font-family:$fuentep;
	color:$color_guinda;
	font-size:20px;
	animation-duration: 3s;
  	animation-name: slidein;
  	margin-bottom: 5%;
}
@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
// content
.fondo-content{
	margin-top:12%;
	margin-bottom:70px;
	background-color:$color_cremac;
}
.yo p{
	color:$color_guinda;
	font-family:$fuentep;
	font-size:20px;
	margin-top:40px;
	margin-bottom:10px;
}
.img-interest img{
	width:150px;
	// float:center;
	// border:2px solid $color_guinda;
	// border-radius:100%;
	margin-left:20%;
	margin-bottom:20%;
}
.img-interest img:hover{
	-webkit-transform: rotate(-7deg);
    -moz-transform: rotate(-7deg);
    -o-transform: rotate(-7deg);
}
// content2
#efepara{

	background-attachement:fixed;
}
.fondo-content2{
	// background:url("../img/fondo2.jpg");
	// background-size:contain;
	background-color:$color_guinda;
	margin-top:18%;
}
.habilidades{
	margin-top:4%;
	padding-bottom:2%;
}
.sl-slide-inner img{
	width:140px;
	display: inline-block;
	border: 2px solid $color_cremac;
	padding:1%;
	border-radius:100%;
	float:right;
	margin-top:-3%;
}
.sl-slide-inner h3{
	color:$color_cremac;
	margin-left:30%;
	font-family:$fuente;
}
.sl-slide-inner p{
	color:$color_cremac;
	font-size:20px;
	font-family:$fuentep;
}

// content3
.proyect{
	position:relative;
	width:504;	
	margin-top:12%;
	padding:2%;
	background-color:$color_cremac;
	z-index: 0;
}
.proyect1{
	position:relative;
}
.proyect1:hover .info, .proyect:hover .mouse{
	filter:alpha(opacity=0);
	opacity:1;
}
.proyect1:hover.mouse{
	left:100px;
}
.proyect img{
	position:relative;
	z-index: 2;
	box-shadow:1px 1px 4px $color_guinda;
	width:400px;
	margin-left:15%;
	margin-bottom:2%;
	padding:15px;
}
.info{
	position:absolute;
	z-index: 3;
	top:30%;
	zoom:1;
	filter:alpha (opacity=0);
	opacity:0;
	padding:5px;
	text-aling:center;
	background:#333;
	background:rgba(0, 0, 0, 0.7);
}
.proyect2{
	position:relative;
}
.proyect2:hover .info, .proyect:hover .mouse{
	filter:alpha(opacity=0);
	opacity:1;
}
.proyect2:hover.mouse{
	left:100px;
}
.proyect3{
	position:relative;
}
.proyect3:hover .info, .proyect:hover .mouse{
	filter:alpha(opacity=0);
	opacity:1;
}
.proyect3:hover.mouse{
	left:100px;
}
.proyect4{
	position:relative;
}
.proyect4:hover .info, .proyect:hover .mouse{
	filter:alpha(opacity=0);
	opacity:1;
}
.proyect4:hover.mouse{
	left:100px;
}
.proyect5{
	position:relative;
}
.proyect5:hover .info, .proyect:hover .mouse{
	filter:alpha(opacity=0);
	opacity:1;
}
.proyect5:hover.mouse{
	left:100px;
}
.proyect6{
	position:relative;
}
.proyect6:hover .info, .proyect:hover .mouse{
	filter:alpha(opacity=0);
	opacity:1;
}
.proyect6:hover.mouse{
	left:100px;
}
// footer
.gif img{
	margin-left:25%;
	border-radius:100%;
}
.gif h2{
	font-family:$fuente;
	color:$color_cremac;
	font-size:50px;
	margin-top:8%;
}
.fondo-footer{
	background:url("../img/fondo3.jpg") 50% 0 no-repeat fixed;
	min-height: 700px;
	margin: 0 auto;
	width: 100%;
	max-width: 1920px;
	position: relative;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.foot img{
	width: 50px;
	margin-left: 39%;
}
.foot img:hover{
	width: 50px;
	margin-left: 39%;
	border:2px dashed $color_cremac;
	border-radius:100%;
	padding:2%;
}
.foot p{
	font-size: 20px;
	font-family: $fuente;
	color: $color_guinda;
	margin-top:2%;
}
.foot a{
		text-decoration:none;
}
.foot a:hover{
		text-decoration:none;
}
// #mail{
// 	margin-left:20%;
// }
#correo{
	width:170px;
	border:none;
	margin-top:5px;
}
@media (max-width:320px){
.nav img{
	margin-left:12%;
	float: left;
	margin-top: 5%;
	position: absolute;
	display: block;
}
}
@media (max-width:320px){
.nav a{
	font-size:10px;
}
}
@media (max-width:720px){
.presentacion img{
	margin-left:12%;
	margin-top:45%;
	width:200px;
}
}
@media (max-width:720px){
.presentacion h1{
	margin-top:-5%;
	font-size:20px;
}
}
@media (max-width:720px){
.presentacion h2{
	margin-top:2%;
	font-size:20px;
}
}
@media (max-width:720px){
.img-interest img{
	width:90px;
	margin-left:10%;
}
}
@media (max-width:720px){
.habilidades img{
	margin-left:10%;
}
}
@media (max-width:720px){
.proyect img{
	width:250px;
	margin-left:-5%;
	padding:15px;
}
}
@media (max-width:720px){
.gif img{
	width:150px;
	margin-left:2%;
}
}
@media (max-width:720px){
.gif h2{
	font-size:25px;
	margin-top:-1%;
	margin-left:2%;
}
}
@media (max-width:720px){
.foot p{
	margin-top:2%;
}
}
// prueba
#Divy{
    position: fixed;
    top: 0;
    left: 0;

    height: 50px;
    width: 50px;

    background: red;
}