.fondog {
  background: url("../img/fond.jpg");
  background-attachment: fixed;
  background-size: cover;
  opacity: 0.9;
}

#corazon {
  float: left;
  margin-top: -1%;
  width: 105px;
  position: absolute;
  display: block;
  margin-left: 40%;
  -webkit-transition: all 3s ease-out;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  animation: scales 0.5s ease infinite;
}

@keyframes scales {
  from {
    transform: scale(0.9);
  }
  transform: scale(1.1);
}

.nav {
  margin-top: 5%;
  margin-left: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ca-menu {
  padding: 0 0 0 48px;
  margin: 20px auto;
  position: fixed;
  z-index: 1000;
}

.ca-menu li {
  width: 115px;
  height: 115px;
  border: 5px solid #800040;
  overflow: hidden;
  position: relative;
  float: left;
  background: #FFF0C9;
  margin-left: -10px;
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 125px;
  -moz-border-radius: 125px;
  border-radius: 125px;
  -webkit-transition: all 400ms linear;
  -moz-transition: all 400ms linear;
  -o-transition: all 400ms linear;
  -ms-transition: all 400ms linear;
  transition: all 400ms linear;
}

.ca-menu li:last-child {
  margin-right: 0px;
}

.ca-menu li a {
  text-align: left;
  width: 100%;
  height: 100%;
  display: block;
  color: #800040;
  position: relative;
}

.ca-menu a:hover, .ca-menu a.active {
  color: #800040;
}

.ca-icon {
  font-family: 'WebSymbolsRegular', cursive;
  font-size: 10px;
  color: #800040;
  line-height: 60px;
  position: absolute;
  width: 100%;
  height: 60px;
  left: 0px;
  top: 10px;
  text-align: center;
  -webkit-transition: all 400ms linear;
  -moz-transition: all 400ms linear;
  -o-transition: all 400ms linear;
  -ms-transition: all 400ms linear;
  transition: all 400ms linear;
}

.ca-main {
  font-size: 15px;
  position: absolute;
  top: 25px;
  height: 80px;
  width: 170px;
  left: 50%;
  margin-left: -85px;
  opacity: 0.8;
  text-align: center;
  color: #800040;
}

.ca-sub {
  display: none;
}

.ca-menu li:hover {
  z-index: 999;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  background-color: #800040;
  border: 4px solid #FFF0C9;
}

.ca-menu li:hover .ca-icon {
  color: #FFF0C9;
  font-size: 20px;
  text-shadow: 0px 0px 1px #000;
  -webkit-animation: moveFromBottom 100ms ease;
  -moz-animation: moveFromBottom 100ms ease;
  -ms-animation: moveFromBottom 100ms ease;
}

.ca-menu li:hover .ca-main {
  color: #FFF0C9;
  -webkit-animation: moveFromBottom 500ms ease;
  -moz-animation: moveFromBottom 500ms ease;
  -ms-animation: moveFromBottom 500ms ease;
}

@-webkit-keyframes moveFromBottom {
  from {
    -webkit-transform: translateY(200%) scale(0.5);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0%) scale(1);
    opacity: 1;
  }
}

@-moz-keyframes moveFromBottom {
  from {
    -moz-transform: translateY(200%) scale(0.5);
    opacity: 0;
  }
  to {
    -moz-transform: translateY(0%) scale(1);
    opacity: 1;
  }
}

@-ms-keyframes moveFromBottom {
  from {
    -ms-transform: translateY(200%) scale(0.5);
    opacity: 0;
  }
  to {
    -ms-transform: translateY(0%) scale(1);
    opacity: 1;
  }
}

.nav a {
  font-size: 25px;
  font-family: "Lobster Two", cursive;
  color: #800040;
  padding: 5%;
  transition: all 0.5s;
}

.nav a:hover, .nav a.active {
  font-size: 25px;
  font-family: "Lobster Two", cursive;
  color: #FCD47D;
  text-decoration: none;
}

.presentacion {
  margin-left: -5px;
}

.presentacion img:first-child {
  width: 390px;
  margin-top: 23%;
  margin-bottom: 15%;
  margin-left: 160px;
  padding: 1%;
  border-radius: 100%;
}

.presentacion h1 {
  font-family: "Lobster Two", cursive;
  color: #800040;
  margin-top: 30%;
  font-size: 70px;
}

.presentacion h2 {
  font-family: "Pontano Sans", sans-serif;
  color: #800040;
  font-size: 20px;
  animation-duration: 3s;
  animation-name: slidein;
  margin-bottom: 5%;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}

.fondo-content {
  margin-top: 12%;
  margin-bottom: 70px;
  background-color: #FFF0C9;
}

.yo h1 {
  font-family: "Lobster Two", cursive;
  color: #800040;
  margin: 2%;
  font-size: 60px;
  animation-duration: 3s;
  animation-name: slidein;
}

.yo p {
  color: #800040;
  font-family: "Pontano Sans", sans-serif;
  font-size: 20px;
  margin-top: 40px;
  margin-bottom: 10px;
}

.img-interest img {
  width: 150px;
  display: inline-block;
  margin: 0 10px;
  margin-left: 120px;
  text-align: center;
}

.img-interest img:hover {
  -webkit-transform: rotate(-7deg);
  -moz-transform: rotate(-7deg);
  -o-transform: rotate(-7deg);
}

#chef {
  width: 115px;
}

#paz {
  border-radius: 100%;
}

#efepara {
  background-attachement: fixed;
}

.fondo-content2 {
  background-color: #800040;
  margin-top: 18%;
}

.habilidades {
  margin-top: 4%;
  padding-bottom: 2%;
}

.sl-slide-inner img {
  width: 140px;
  display: inline-block;
  border: 2px solid #FFF0C9;
  padding: 1%;
  border-radius: 100%;
  margin-top: -3%;
  float: right;
}

.sl-slide-inner h3 {
  color: #FFF0C9;
  margin-left: 30%;
  font-family: "Lobster Two", cursive;
}

.sl-slide-inner p {
  color: #FFF0C9;
  font-size: 20px;
  font-family: "Pontano Sans", sans-serif;
}

.proyect {
  margin-top: 12%;
  padding: 2%;
  background-color: #FFF0C9;
  background-image: url("../img/wd.png");
  background-repeat: no-repeat;
  background-position: center;
}

.proyect img {
  width: 250px;
  height: 200px;
}

.gif img {
  margin-left: 25%;
  border-radius: 100%;
  margin-top: 30%;
  width: 200px;
}

.gif h2 {
  font-family: "Lobster Two", cursive;
  color: #800040;
  font-size: 60px;
  margin-top: 35%;
  margin-left: -20%;
}

.fondo-footer {
  min-height: 700px;
  margin: 0 auto;
  width: 100%;
  max-width: 1920px;
  position: relative;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.foot img {
  width: 100px;
  margin-top: 18%;
  margin-left: 30%;
  padding: 2%;
}

.foot img:hover {
  width: 100px;
  border: 3px dashed #800040;
  border-radius: 100%;
  padding: 2%;
  -webkit-animation: 3s rotate linear infinite;
  animation: 3s rotate linear infinite;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

.foot p {
  font-size: 20px;
  font-family: "Pontano Sans", sans-serif;
  font-weight: bold;
  color: #800040;
  margin-top: 2%;
}

.foot a {
  text-decoration: none;
}

.foot a:hover {
  text-decoration: none;
}

.copyrigth {
  background-color: #800040;
  padding: 1% 0;
  margin-top: -4%;
}

.copyrigth p {
  font-family: "Lobster Two", cursive;
  color: #FFF0C9;
  font-size: 18px;
}

@media (max-width: 720px) {
  .ca-menu {
    margin: 50px auto;
  }
  .ca-menu li {
    width: 50px;
    height: 50px;
    border: 2px solid #800040;
    background: #FFF0C9;
    -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 125px;
    -moz-border-radius: 125px;
    border-radius: 125px;
    -webkit-transition: all 400ms linear;
    -moz-transition: all 400ms linear;
    -o-transition: all 400ms linear;
    -ms-transition: all 400ms linear;
    transition: all 400ms linear;
  }
  .ca-icon {
    font-family: 'WebSymbolsRegular', cursive;
    font-size: 2px;
    color: #800040;
    position: absolute;
    width: 100%;
    height: 10px;
    top: -10px;
    text-align: center;
    -webkit-transition: all 400ms linear;
    -moz-transition: all 400ms linear;
    -o-transition: all 400ms linear;
    -ms-transition: all 400ms linear;
    transition: all 400ms linear;
  }
}

@media (max-width: 720px) {
  .presentacion img:first-child {
    width: 170px;
    margin-top: 35%;
    margin-left: 65px;
    margin-bottom: -55px;
    padding: 1%;
    border-radius: 100%;
  }
  .presentacion h1 {
    font-family: "Lobster Two", cursive;
    color: #800040;
    font-size: 30px;
    text-align: center;
  }
  .presentacion h2 {
    font-family: "Pontano Sans", sans-serif;
    color: #800040;
    font-size: 20px;
    animation-duration: 3s;
    animation-name: slidein;
    text-align: center;
  }
  #corazon {
    left: 15%;
    margin-top: -2%;
    width: 40px;
    position: absolute;
    display: block;
    margin-left: 27%;
    margin-bottom: 5%;
    -webkit-transition: all 3s ease-out;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    animation: scales 0.5s ease infinite;
  }
}

@media (max-width: 720px) {
  .yo {
    padding: 0 10px;
  }
  .yo h1 {
    font-family: "Lobster Two", cursive;
    color: #800040;
    margin: 2%;
    margin-top: 40px;
    font-size: 40px;
    text-align: center;
  }
  .yo p {
    color: #800040;
    font-family: "Pontano Sans", sans-serif;
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .img-interest img {
    width: 50px;
    display: inline-block;
    text-align: center;
    margin: 15px 15px;
  }
  .img-interest img:hover {
    -webkit-transform: rotate(-7deg);
    -moz-transform: rotate(-7deg);
    -o-transform: rotate(-7deg);
  }
  #chef {
    width: 50px;
  }
  #paz {
    border-radius: 100%;
  }
}

@media (max-width: 720px) {
  .sl-slide-inner h3 {
    font-size: 13px;
  }
  .sl-slider-wrapper {
    width: 100%;
    height: 50px;
    overflow: hidden;
    position: relative;
  }
  .sl-slide-inner img {
    width: 40px;
    float: right;
  }
  .sl-slider blockquote {
    font-size: 10px;
    padding-top: 10px;
    font-weight: 100;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  }
  .sl-slider blockquote cite {
    font-size: 10px;
    font-weight: 100;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 5px;
    padding-top: 30px;
    display: inline-block;
  }
  .sl-slide-inner p {
    color: #FFF0C9;
    font-size: 20px;
    font-family: "Pontano Sans", sans-serif;
  }
  .fondo-content2 {
    background-color: #800040;
    opacity: 0.9;
    margin-top: 18%;
  }
}

@media (max-width: 720px) {
  .ih-item.square.colored.effect12.left_to_right {
    margin: 5px -10px;
    float: center;
  }
}

@media (max-width: 720px) {
  .gif img {
    margin-left: 15%;
    border-radius: 100%;
    margin-top: 10%;
    width: 200px;
  }
  .gif h2 {
    font-family: "Lobster Two", cursive;
    color: #800040;
    font-size: 60px;
    text-align: center;
    margin: auto;
  }
}

@media (max-width: 720px) {
  .copyrigth {
    background-color: #800040;
    padding: 1% 4%;
    margin-top: 10%;
  }
  .copyrigth p {
    font-family: "Lobster Two", cursive;
    color: #FFF0C9;
    font-size: 15px;
    text-align: center;
  }
}
