$fuente:'Lobster Two', cursive;
$fuentep:'Pontano Sans', sans-serif;
$color_guinda:#B23256;
$color_crema:#FCD47D;
$color_fram:#FC0037;
$color_plomo:#F1F1F1;
$color_cremac:#FFF0C9;
.fondog{
	background-color:$color_cremac;
}
// header
.fondo-header{
	background:url("../img/fondo1.png")no-repeat;
	background-size:cover;
}
.nav{
	margin-top:2%;	
	margin-left:50px;
}
.nav img{
	float: left;
	margin-top: 2%;
	padding-top:6%;
	width: 105px;
	position: absolute;
	display: block;
		margin: 20px;
    // -webkit-box-shadow: 4px 4px 4px rgba(0,0,0,0.2);
    // -moz-box-shadow: 4px 4px 4px rgba(0,0,0,0.2);
    // box-shadow: 4px 4px 4px rgba(0,0,0,0.2);
    -webkit-transition: all 3s ease-out;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    animation : scales 0.5s ease infinite
}
@keyframes scales{
  from{
   transform : scale(0.9)
  }
  transform : scale(1.1)
}
#ul{
	z-index: 1;
	background-color:#fff;
	border-bottom:2px solid $color_guinda;
	width: 100%; /* hacemos que la cabecera ocupe el ancho completo de la página */
	left: 5px; /* Posicionamos la cabecera al lado izquierdo */
	top: 0; /* Posicionamos la cabecera pegada arriba */
	position: fixed; /* Hacemos que la cabecera tenga una posición fija */
}
.nav a{
	font-size:25px;
	font-family:$fuente;
	color:$color_guinda;
	padding:2%;
}
.nav a:hover{
	font-size:25px;
	font-family:$fuente;
	color:$color_crema;
	// border:2px solid $color_crema;
	// background-color:$color_crema;
	// padding:2px;
	text-decoration:none;
}
.presentacion img{
	width:390px;
	padding-top:37px;
	padding-bottom:37px;
	margin-left:160px;
}
.presentacion h1{
	font-family:$fuente;
	color:$color_guinda;
	margin-top:170px;
	font-size:70px;
	animation-duration: 3s;
  	animation-name: slidein;
}
.presentacion h2{
	font-family:$fuentep;
	color:$color_guinda;
	font-size:20px;
	animation-duration: 3s;
  	animation-name: slidein;
}
@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
// content
.fondo-content{
	border:2px solid $color_guinda;
	margin-top:70px;
	margin-bottom:70px;
	background-color:#fff;
}
.yo p{
	color:$color_guinda;
	font-family:$fuentep;
	font-size:20px;
	margin-top:40px;
	margin-bottom:10px;
}
.img-interest img{
	width:150px;
	// float:center;
	border:2px dashed $color_fram;
	border-radius:100%;
	margin-left:20%;
	margin-bottom:20%;
	// margin: 20px;
 //    -webkit-box-shadow: 4px 4px 4px rgba(0,0,0,0.2);
 //    -moz-box-shadow: 4px 4px 4px rgba(0,0,0,0.2);
 //    box-shadow: 4px 4px 4px rgba(0,0,0,0.2);
 //    -webkit-transition: all 3s ease-out;
 //    -moz-transition: all 3s ease;
 //    -o-transition: all 3s ease;
 //    animation : scales 3s ease infinite
}
.img-interest img:hover{
	// width:150px;
	// float:center;
	// border:2px dashed $color_fram;
	// border-radius:100%;
	// margin-left:20%;
	// margin-bottom:20%;
	-webkit-transform: rotate(-7deg);
    -moz-transform: rotate(-7deg);
    -o-transform: rotate(-7deg);
}
// @keyframes scales{
//   from{
//    transform : scale(0.9)
//   }
//   transform : scale(1.1)
// }
// content2
#efepara{

	background-attachement:fixed;
}
.fondo-content2{
	background:url("../img/fondo2.jpg");
	background-size:contain;
}
.habilidades{
	margin-top:4%;
	padding-bottom:2%;
}
.habilidades img{
	width:150px;
	opacity:0.7;
	padding:0;
	transition: all 2s ease-in-out;
}
.habilidades img:hover{
	width:150px;
	opacity:0.9;
	padding:0;
	transform: rotate(720deg) scale(1.1);
}
.thumbnail{
	width:200px;
	margin-right:5%;
}
// content3
.proyect{
	position:relative;
	width:504;	
	margin-top:70px;
	border:2px solid $color_guinda;
	padding:2%;
	background-color:$color_guinda;
	z-index: 0;
}
.proyect1{
	position:relative;
}
.proyect1:hover .info, .proyect:hover .mouse{
	filter:alpha(opacity=0);
	opacity:1;
}
.proyect1:hover.mouse{
	left:100px;
}
.proyect img{
	position:relative;
	z-index: 2;
	box-shadow:1px 1px 4px #333;
	width:400px;
	margin-left:15%;
	margin-bottom:2%;
	padding:15px;
}
.proyect img:hover{
	width:400px;
	margin-left:15%;
	margin-bottom:30px;
	border: 2px dashed $color_crema;
	padding:15px;
}
.info{
	position:absolute;
	z-index: 3;
	top:30%;
	zoom:1;
	filter:alpha (opacity=0);
	opacity:0;
	padding:5px;
	text-aling:center;
	background:#333;
	background:rgba(0, 0, 0, 0.7);
}
.proyect2{
	position:relative;
}
.proyect2:hover .info, .proyect:hover .mouse{
	filter:alpha(opacity=0);
	opacity:1;
}
.proyect2:hover.mouse{
	left:100px;
}
.info{
	position:absolute;
	z-index: 3;
	top:30%;
	zoom:1;
	filter:alpha (opacity=0);
	opacity:0;
	padding:5px;
	text-aling:center;
	background:#333;
	background:rgba(0, 0, 0, 0.7);
	margin-top:-20%;
}
.proyect3{
	position:relative;
}
.proyect3:hover .info, .proyect:hover .mouse{
	filter:alpha(opacity=0);
	opacity:1;
}
.proyect3:hover.mouse{
	left:100px;
}
.info{
	position:absolute;
	z-index: 3;
	top:30%;
	zoom:1;
	filter:alpha (opacity=0);
	opacity:0;
	padding:5px;
	text-aling:center;
	background:#333;
	background:rgba(0, 0, 0, 0.7);
	margin-top:-20%;
}
// footer
.gif img{
	margin-top:10%;
	margin-left:25%;
	border-radius:100%;
}
.gif h2{
	margin-top:25%;
	font-family:$fuente;
	color:$color_guinda;
	font-size:50px;
}
.fondo-footer{
	background-color:#fff;
	border-top:2px solid $color_guinda;
}
.foot{
	margin-top:5%;
	margin-bottom:5%;

}
.foot img{
	width: 50px;
	margin-left: 39%;
}
.foot img:hover{
	width: 50px;
	margin-left: 39%;
	border:2px dashed $color_guinda;
	border-radius:100%;
	padding:2%;
}
.foot p{
	font-size: 20px;
	font-family: $fuente;
	color: $color_guinda;
	margin-top:2%;
}
.foot a{
		text-decoration:none;
}
.foot a:hover{
		text-decoration:none;
}
@media (max-width:750px){
.nav img{
	margin-left:12%;
	float: left;
	margin-top: 5%;
	position: absolute;
	display: block;
}
}
@media (max-width:750px){
.nav a{
	font-size:10px;
}
}
@media (max-width:750px){
.presentacion img{
	margin-left:12%;
	margin-top:45%;
	width:200px;
}
}
@media (max-width:750px){
.presentacion h1{
	margin-top:-5%;
	font-size:20px;
}
}
@media (max-width:750px){
.presentacion h2{
	margin-top:2%;
	font-size:20px;
}
}
@media (max-width:750px){
.img-interest img{
	width:90px;
	margin-left:10%;
}
}
@media (max-width:750px){
.habilidades img{
	margin-left:10%;
}
}
@media (max-width:750px){
.proyect img{
	width:250px;
	margin-left:-5%;
	padding:15px;
}
}
@media (max-width:750px){
.gif img{
	width:150px;
	margin-left:2%;
}
}
@media (max-width:750px){
.gif h2{
	font-size:25px;
	margin-top:-1%;
	margin-left:2%;
}
}
@media (max-width:750px){
.foot p{
	margin-top:2%;
}
}
// prueba
#Divy{
    position: fixed;
    top: 0;
    left: 0;

    height: 50px;
    width: 50px;

    background: red;
}