@charset "UTF-8";
.fondog {
  background-color: #FFF0C9;
}

.fondo-header {
  background: url("../img/fondo1.png") no-repeat;
  background-size: cover;
}

.nav {
  margin-top: 2%;
  margin-left: 50px;
}

.nav img {
  float: left;
  margin-top: 2%;
  padding-top: 6%;
  width: 105px;
  position: absolute;
  display: block;
  margin: 20px;
  -webkit-transition: all 3s ease-out;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  animation: scales 0.5s ease infinite;
}

@keyframes scales {
  from {
    transform: scale(0.9);
  }
  transform: scale(1.1);
}

#ul {
  background-color: #fff;
  border-bottom: 2px solid #7C2B3E;
  width: 100%;
  /* hacemos que la cabecera ocupe el ancho completo de la página */
  left: 5px;
  /* Posicionamos la cabecera al lado izquierdo */
  top: 0;
  /* Posicionamos la cabecera pegada arriba */
  position: fixed;
  /* Hacemos que la cabecera tenga una posición fija */
}

.nav a {
  font-size: 25px;
  font-family: "Lobster Two", cursive;
  color: #7C2B3E;
  padding: 2%;
}

.nav a:hover {
  font-size: 25px;
  font-family: "Lobster Two", cursive;
  color: #FBD38B;
  text-decoration: none;
}

.presentacion img {
  width: 390px;
  padding-top: 37px;
  padding-bottom: 37px;
  margin-left: 160px;
}

.presentacion h1 {
  font-family: "Lobster Two", cursive;
  color: #7C2B3E;
  margin-top: 170px;
  font-size: 70px;
  animation-duration: 3s;
  animation-name: slidein;
}

.presentacion h2 {
  font-family: "Pontano Sans", sans-serif;
  color: #7C2B3E;
  font-size: 20px;
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}

.fondo-content {
  border: 2px solid #7C2B3E;
  margin-top: 70px;
  margin-bottom: 70px;
  background-color: #fff;
}

.yo p {
  color: #7C2B3E;
  font-family: "Pontano Sans", sans-serif;
  font-size: 20px;
  margin-top: 40px;
  margin-bottom: 10px;
}

.img-interest img {
  width: 150px;
  border: 2px dashed #FC0037;
  border-radius: 100%;
  margin-left: 20%;
  margin-bottom: 20%;
}

.img-interest img:hover {
  -webkit-transform: rotate(-7deg);
  -moz-transform: rotate(-7deg);
  -o-transform: rotate(-7deg);
}

#efepara {
  background-attachement: fixed;
}

.fondo-content2 {
  background: url("../img/fondo2.jpg");
  background-size: contain;
}

.habilidades {
  margin-top: 4%;
  padding-bottom: 2%;
}

.habilidades img {
  width: 150px;
  opacity: 0.7;
  padding: 0;
  transition: all 2s ease-in-out;
}

.habilidades img:hover {
  width: 150px;
  opacity: 0.9;
  padding: 0;
  transform: rotate(720deg) scale(1.1);
}

.thumbnail {
  width: 200px;
  margin-right: 5%;
}

.proyect {
  margin-top: 70px;
  border: 2px solid #7C2B3E;
  padding: 2%;
  background-color: #7C2B3E;
}

.proyect img {
  width: 400px;
  margin-left: 15%;
  padding: 15px;
}

.proyect img:hover {
  width: 400px;
  margin-left: 15%;
  margin-bottom: 30px;
  border: 2px dashed #FBD38B;
  padding: 15px;
}

.gif img {
  margin-top: 10%;
  margin-left: 25%;
}

.gif h2 {
  margin-top: 25%;
  font-family: "Lobster Two", cursive;
  color: #7C2B3E;
  font-size: 50px;
}

.fondo-footer {
  background-color: #fff;
  border-top: 2px solid #7C2B3E;
}

.foot {
  margin-top: 5%;
  margin-bottom: 5%;
}

.foot img {
  width: 50px;
  margin-left: 30%;
}

.foot img:hover {
  width: 50px;
  margin-left: 30%;
  border: 2px dashed #7C2B3E;
  border-radius: 100%;
  padding: 2%;
}

.foot p {
  font-size: 20px;
  font-family: "Lobster Two", cursive;
  color: #7C2B3E;
  margin-left: 27%;
  margin-top: -6%;
}

@media (max-width: 750px) {
  .nav img {
    margin-left: 12%;
    float: left;
    margin-top: 5%;
    position: absolute;
    display: block;
  }
}

@media (max-width: 750px) {
  .nav a {
    font-size: 10px;
  }
}

@media (max-width: 750px) {
  .presentacion img {
    margin-left: 12%;
    margin-top: 45%;
    width: 200px;
  }
}

@media (max-width: 750px) {
  .presentacion h1 {
    margin-top: -5%;
    font-size: 20px;
  }
}

@media (max-width: 750px) {
  .presentacion h2 {
    margin-top: 2%;
    font-size: 20px;
  }
}

@media (max-width: 750px) {
  .img-interest img {
    width: 90px;
  }
}

@media (max-width: 750px) {
  .proyect img {
    width: 200px;
    margin-left: -5%;
    padding: 15px;
  }
}

@media (max-width: 750px) {
  .gif img {
    width: 95px;
  }
}

@media (max-width: 750px) {
  .gif h2 {
    font-size: 25px;
    margin-top: -1%;
  }
}

@media (max-width: 750px) {
  .foot p {
    margin-top: 2%;
  }
}
