doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=Edge,chrome=1')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title .:: Paola Begazo ::.
    link(rel="Shortcut icon" href="favicon.ico" type="image/x-icon")
    link(rel="stylesheet", href="css/main.css")
    link(rel='stylesheet', href='css/bootstrap.min.css', type='text/css')
    link(href='css/ihover.css', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Lobster+Two' rel='stylesheet' type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Pontano+Sans' rel='stylesheet' type='text/css')
    link(rel='stylesheet', href='font-awesome/css/font-awesome.min.css', type='text/css')
    link(rel='shortcut icon', href='../favicon.ico')
    link(rel='stylesheet', type='text/css', href='css/custom.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/plugins/ScrollToPlugin.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TweenMax.min.js')
    script(src="https://code.jquery.com/jquery-1.10.1.min.js")
    script(type='text/javascript', src='js/modernizr.custom.79639.js')
    noscript
      link(rel='stylesheet', type='text/css', href='css/styleNoJS.css')
  body.fondog
    #inicio
        .container-fluid.fondo-header
            .container
                .row.nav

                        ul.ca-menu
                          li
                            a(href='#inicio')
                              span.ca-icon.fa.fa-home
                              .ca-main Inicio
                          li
                            a(href='#yo')
                              span.ca-icon.fa.fa-female
                              .ca-main Yo
                          li
                            a(href='#habilidades')
                              span.ca-icon.fa.fa-trophy
                              .ca-main Habilidades
                          li
                            a(href='#proyectos')
                              span.ca-icon.fa.fa-code
                              .ca-main Proyectos
                          li
                            a(href='#contacto')
                              span.ca-icon.fa.fa-globe
                              .ca-main Contacto

                .row.presentacion
                    .col-md-6
                        //- img.img-responsive.element-animation(src="img/pao.jpg" onmouseover="this.src='img/pb.jpg';" onmouseout="this.src='img/pao.jpg';")
                        img.img-responsive(src="img/pao.jpg")
                    .col-md-6
                        h1.text-center <strong>Paola<br>Begazo Gonzales</strong>
                        h2.text-center<strong>Front end Developer</strong>
                        img#corazon(src="img/corazon.png")
    #yo
    content
        .container-fluid.fondo-content
            .container
                .row.yo
                    h1.text-center Hola!!!
                    p.text-center Soy Pao y descubrí el código gracias a Laboratoria, siempre me gustó la  tecnología y la programación así que se volvió<br>una de mis pasiones. Además de ser una coder, soy Chef ya que me encanta la comida y coctelería símbolo de nuestro Perú.<br>Soy una persona muy positiva, me encantan los perritos, escuchar música y tengo muchas ganas de seguir creciendo como persona y como profesional. <em>¡Voy por más!</em>

                .row.img-interest
                        img(src="img/lap.png")
                        img(src="img/dog.png")
                        img#chef(src="img/chef.png")
                        img#paz(src="img/paz.png")
    #habilidades
    content#efepara
        .container-fluid.fondo-content2
            .container.demo-2
                .row.habilidades
                      #slider.sl-slider-wrapper
                        .sl-slider
                          .sl-slide(data-orientation='vertical', data-slice1-rotation='-25', data-slice2-rotation='-25', data-slice1-scale='2', data-slice2-scale='2')
                            .sl-slide-inner
                              .bg-img.bg-img-1
                              h3 HTML, CSS
                              img(src="img/css.png")
                              img(src="img/html.png")
                              blockquote
                                p Lenguajes utilizados en la presentación de la página web para darle forma y estilo.
                                cite Nivel: Avanzado
                          .sl-slide(data-orientation='vertical', data-slice1-rotation='10', data-slice2-rotation='-15', data-slice1-scale='1.5', data-slice2-scale='1.5')
                            .sl-slide-inner
                              .bg-img.bg-img-2
                              h3 Bootstrap
                              img(src="img/boo.png")
                              blockquote
                                p  Framework de css para maquetar la página web en minutos, sin tocar una sola linea de CSS.
                                cite Nivel: Avanzado
                          .sl-slide(data-orientation='vertical', data-slice1-rotation='3', data-slice2-rotation='3', data-slice1-scale='2', data-slice2-scale='1')
                            .sl-slide-inner
                              .bg-img.bg-img-3
                              h3 Sass, Jade
                              img(src="img/jade.png")
                              img(src="img/sass.png")
                              blockquote
                                p Son metalenguajes para simplificar el desarrollo del código y asi dar un resultado<br>en menos tiempo.
                                cite Nivel: Avanzado
                          .sl-slide(data-orientation='vertical', data-slice1-rotation='-5', data-slice2-rotation='25', data-slice1-scale='2', data-slice2-scale='1')
                            .sl-slide-inner
                              .bg-img.bg-img-4
                              h3 Angular, JavaScript
                              img.img-responsive(src="img/angular.png")
                              img.img-responsive(src="img/js.png")
                              blockquote
                                p AngularJS es un framework de JavaScript Front End<br>que permite crear aplicaciones y JavaScript<br>permite crear efectos atractivos y dinámicos en las páginas web.
                                cite Nivel: Intermedio
                        // /sl-slider
                        nav#nav-dots.nav-dots
                          span.nav-dot-current
                          span
                          span
                          span
    #proyectos
    content
      .container-fluid.proyect
        .container
          .row
            .col-md-6
              .ih-item.square.colored.effect12.left_to_right
                a(target='_blank',href='http://paobegon.github.io/Gentleman.github.io/.')
                  .img
                    img.img-responsive(src="img/akakau.png")
                  .info
                    h3 Gentleman
                    p Proyecto realizado al inicio del curso para aprender HTML y CSS.
            .col-md-6
              .ih-item.square.colored.effect12.left_to_right
                a(target='_blank', href='https://paobegon.github.io/tictactoe.github.io/.')
                  .img
                    img.img-responsive(src="img/danza.png")
                  .info
                    h3 Tic Tac Toe
                    p Juego tres en raya realizado con javascript.
          .row
            .col-md-6
              .ih-item.square.colored.effect12.left_to_right
                a(target='_blank',href=' http://paobegon.github.io/ecomunidad.github.io/')
                  .img
                    img.img-responsive(src="img/eco.png")
                  .info
                    h3 Eco-munidad
                    p Proyecto realizado en clases, perfeccionando bootstrap.
            .col-md-6
              .ih-item.square.colored.effect12.left_to_right
                a(target='_blank',href='http://paobegon.github.io/responsiveblog.github.io/')
                  .img
                    img.img-responsive(src="img/flat.png")
                  .info
                    h3 Flatness
                    p Proyecto 100% responsive realizado con sass y jade.
          .row
            .col-md-6
              .ih-item.square.colored.effect12.left_to_right
                a(target='_blank',href='http://paobegon.github.io/watsappchat.github.io/')
                  .img
                    img.img-responsive(src="img/wpp.png")
                  .info
                    h3 WhatsAap Team
                    p Chat en linea, realizado en clases con nodejs para funcionar en el puerto 8080.
            .col-md-6
              .ih-item.square.colored.effect12.left_to_right
                a(target='_blank',href='http://paobegon.github.io/cinemalayout.github.io/')
                  .img
                    img.img-responsive(src="img/primes.png")
                  .info
                    h3 Cinema Layout
                    p Proyecto realizado en clases usando grid system.
    #contacto
    content
        .container-fluid.fondo-footer
            .container
                .row.gif
                    .col-md-6                   
                        img(src="img/gif.gif")
                    .col-md-6
                        h2<strong>keep calm because I'm already here...</strong>
                .row.foot
                    .col-md-3
                        a(target='_blank', href="https://github.com/PaoBeGon")
                            img.img-responsive(src="img/github.png")
                            p.text-center GitHub
                    .col-md-3
                      a(target='_blank', href="callTo://Paola Begazo Gonzales")
                        img.img-responsive(src="img/skype.png")
                        p.text-center Skype
                    .col-md-3
                        a(target='_blank', href="https://www.linkedin.com/in/paola-begazo-gonzales-0773a2126?trk=nav_responsive_tab_profile")
                            img.img-responsive(src="img/linkedin.png")
                            p.text-center Linkedin
                    .col-md-3
                        a(target='_blank', href='mailto:paobegon1@gmail.com')
                          img.img-responsive(src="img/mail.png")
                          p.text-center paobegon1@gmail.com
        .container-fluid
          .row.copyrigth
            p.text-center La única manera de hacer un gran trabajo, es amar lo que haces. Si no lo has encontrado, sigue buscando. No te conformes. Steve Jobs ©Paola Begazo Gonzales 2016
    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js')
    script(type='text/javascript', src='js/jquery.ba-cond.min.js')
    script(type='text/javascript', src='js/jquery.slitslider.js')
    script(type='text/javascript').
      $(function() {
      var Page = (function() {
      var $nav = $( '#nav-dots > span' ),
      slitslider = $( '#slider' ).slitslider( {
      onBeforeChange : function( slide, pos ) {
      $nav.removeClass( 'nav-dot-current' );
      $nav.eq( pos ).addClass( 'nav-dot-current' );
      }
      } ),
      init = function() {
      initEvents();
      },
      initEvents = function() {
      $nav.each( function( i ) {
      $( this ).on( 'click', function( event ) {
      var $dot = $( this );
      if( !slitslider.isActive() ) {
      $nav.removeClass( 'nav-dot-current' );
      $dot.addClass( 'nav-dot-current' );
      }
      slitslider.jump( i + 1 );
      return false;
      } );
      } );
      };
      return { init : init };
      })();
      Page.init();
      });
      //- efectoparallax
      $(document).ready(function(){
      $('section[data-type="parallax_section"]').each(function(){
      var $bgobj = $(this); // Variable para asignacion de objeto
      $(window).scroll(function() {
      $window = $(window);
      var yPos = -($window.scrollTop() / $bgobj.data('speed'));
      // cordinadas del background
      var coords = '50% '+ yPos + 'px';
      // moviendo el background
      $bgobj.css({ backgroundPosition: coords });
      });
      });
      });
      //- TweenMax
      $(document).ready(initPage);
      function initPage()
      {
      $(".ca-menu a").click(navigatePage);
      }
      function navigatePage(evt)
      {
      evt.preventDefault();
      $(".ca-menu a").removeClass('active');
      $(this).addClass('active');
      var section = $(this).attr('href');
      var objSection = $(section);
      TweenMax.to('body', 1, {
      scrollTo:{y:objSection.position().top},
      ease:Quart.easeOut
      });
      console.log(objSection.position().top);
      }








