doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Paola Begazo:.
    link(rel="Shortcut icon" href="favicon.ico" type="image/x-icon")
    link(rel="stylesheet", href="css/main.css")
    link(rel="stylesheet", href="css/main.js")
    // Bootstrap Core CSS
    link(rel='stylesheet', href='css/bootstrap.min.css', type='text/css')
    // Custom Fonts
    link(href='https://fonts.googleapis.com/css?family=Lobster+Two' rel='stylesheet' type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Pontano+Sans' rel='stylesheet' type='text/css')
    link(rel='stylesheet', href='font-awesome/css/font-awesome.min.css', type='text/css')
    link(rel='shortcut icon', href='../favicon.ico')
    link(rel='stylesheet', type='text/css', href='css/demo.css')
    link(rel='stylesheet', type='text/css', href='css/style.css')
    link(rel='stylesheet', type='text/css', href='css/custom.css')
    script(type='text/javascript', src='js/modernizr.custom.79639.js')
    noscript
      link(rel='stylesheet', type='text/css', href='css/styleNoJS.css')
  body.fondog
    #inicio
    header.fondo-header
        .container-fluid.fondo-header
            .container
                .row.nav

                        ul.ca-menu
                          li
                            a(href='#inicio')
                              span.ca-icon.fa.fa-home
                              .ca-content
                                h2.ca-main Inicio
                          li
                            a(href='#yo')
                              span.ca-icon.fa.fa-female
                              .ca-content
                                h2.ca-main Yo
                          li
                            a(href='#habilidades')
                              span.ca-icon.fa.fa-trophy
                              .ca-content
                                h2.ca-main Habilidades
                          li
                            a(href='#proyectos')
                              span.ca-icon.fa.fa-code
                              .ca-content
                                h2.ca-main Proyectos
                          li
                            a(href='#contacto')
                              span.ca-icon.fa.fa-globe
                              .ca-content
                                h2.ca-main Contacto

                .row.presentacion
                    .col-md-6
                        img.img-responsive.aniview.slow(av-animation='fadeIn')(src="img/pao.jpg")
                    .col-md-6
                        h1.text-center Paola<br>Begazo Gonzales
                        h2.text-center Frontend Developer
                        img#corazon(src="img/corazon.png")
    #yo
    content
        .container-fluid.fondo-content
            .container
                .row.yo
                    p.text-center Hola! soy Pao y descubrí el código gracias a Laboratoria, aunque siempre me llamó<br>la atencion el mundo de la tecnología y la programación entonces fue asi que se volvio una de mis pasiones.<br>Además de ser una coder, soy una apasionada de la comida y la cocteleria Peruana por eso también soy Chef.<br>Soy una persona positiva, me encantan los perritos y tengo muchas ganas de seguir creciendo como persona y como profesional.<br>¡VOY POR MÁS!

                .row.img-interest
                    .col-md-3
                        img.img-responsive(src="img/lap.png")
                    .col-md-3
                        img.img-responsive(src="img/dog.png")
                    .col-md-3
                        img.img-responsive(src="img/chef.png")
                    .col-md-3
                        img.img-responsive(src="img/paz.png")
    #habilidades
    content2#efepara
        .container-fluid.fondo-content2
            .container.demo-2
                .row.habilidades
                      #slider.sl-slider-wrapper
                        .sl-slider
                          .sl-slide(data-orientation='horizontal', data-slice1-rotation='-25', data-slice2-rotation='-25', data-slice1-scale='2', data-slice2-scale='2')
                            .sl-slide-inner
                              .bg-img.bg-img-1
                              h3 HTML, CSS
                              img.img-responsive(src="img/html.png")
                              img.img-responsive(src="img/css.png")
                              blockquote
                                p Lenguajes utilizados en la presentación de la página web para darle forma y estilo.
                                cite Nivel: Avanzado
                          .sl-slide(data-orientation='vertical', data-slice1-rotation='10', data-slice2-rotation='-15', data-slice1-scale='1.5', data-slice2-scale='1.5')
                            .sl-slide-inner
                              .bg-img.bg-img-2
                              h3 Bootstrap
                              img.img-responsive(src="img/boo.png")
                              blockquote
                                p  Framework de css, para maquetar la página web en minutos, sin tocar una sola linea de CSS.
                                cite Nivel: Avanzado
                          .sl-slide(data-orientation='horizontal', data-slice1-rotation='3', data-slice2-rotation='3', data-slice1-scale='2', data-slice2-scale='1')
                            .sl-slide-inner
                              .bg-img.bg-img-3
                              h3 Sass, Jade
                              img.img-responsive(src="img/sass.png")
                              img.img-responsive(src="img/jade.png")
                              blockquote
                                p Son metalenguajes para simplificar el desarrollo del código y asi dar un resultado<br>en menos tiempo.
                                cite Nivel: Avanzado
                          .sl-slide(data-orientation='vertical', data-slice1-rotation='-5', data-slice2-rotation='25', data-slice1-scale='2', data-slice2-scale='1')
                            .sl-slide-inner
                              .bg-img.bg-img-4
                              h3 Angular, JavaScript
                              img.img-responsive(src="img/angular.png")
                              img.img-responsive(src="img/js.png")
                              blockquote
                                p AngularJS es un framework MVC de JavaScript para el Desarrollo Web Front End<br>que permite crear aplicaciones SPA (Single-Page Applications)y JavaScript es un<br> lenguaje de programación, que permite crear efectos atractivos y dinámicos en las páginas web.
                                cite Nivel: Intermedio
                        // /sl-slider
                        nav#nav-dots.nav-dots
                          span.nav-dot-current
                          span
                          span
                          span
    #proyectos
    content3
        .container-fluid.fondo-content3.proyect
            .container
                .row
                    .col-md-6
                        .proyect1
                            a(href="#")
                                img.img-responsive(src="img/akakau.png")
                                span.info Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        .proyect2
                            a(href="#")
                                img.img-responsive(src="img/danza.png")
                                span.info Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        .proyect3
                            a(href="#")
                                img.img-responsive(src="img/eco.png")
                                span.info Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    .col-md-6
                        .proyect4
                            a(href="#")
                                img.img-responsive(src="img/flat.png")
                                span.info Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        .proyect5
                            a(href="#")
                                img.img-responsive(src="img/wpp.png")
                                span.info Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        .proyect6
                            a(href="https://primes-paolabg.c9users.io/primes.html")
                                img.img-responsive(src="img/primes.png")
                                span.info Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    #contacto
    footer
        .container-fluid.fondo-footer
            .container
                .row.gif
                    .col-md-6                   
                        img(src="img/gif.gif")
                    .col-md-6
                        h2 ¿Deseas contactarme?
                .row.foot
                    .col-md-3
                        a(href="https://github.com/PaoBeGon")
                            img.img-responsive(src="img/github.png")
                            p.text-center GitHub
                    .col-md-3
                        img.img-responsive(src="img/fono.png")
                        p.text-center 987610070
                    .col-md-3
                        a(href="https://www.linkedin.com/in/paola-begazo-gonzales-0773a2126?trk=nav_responsive_tab_profile")
                            img.img-responsive(src="img/linkedin.png")
                            p.text-center Linkedin
                    .col-md-3
                        img.img-responsive(src="img/gmail2.svg")
                        p.text-center
                            img.img-responsive#correo(src="img/paobegon.png")
    script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js')
    script(type='text/javascript', src='js/jquery.ba-cond.min.js')
    script(type='text/javascript', src='js/jquery.slitslider.js')
    script(type='text/javascript').
      $(function() {
      var Page = (function() {
      var $nav = $( '#nav-dots > span' ),
      slitslider = $( '#slider' ).slitslider( {
      onBeforeChange : function( slide, pos ) {
      $nav.removeClass( 'nav-dot-current' );
      $nav.eq( pos ).addClass( 'nav-dot-current' );
      }
      } ),
      init = function() {
      initEvents();
      },
      initEvents = function() {
      $nav.each( function( i ) {
      $( this ).on( 'click', function( event ) {
      var $dot = $( this );
      if( !slitslider.isActive() ) {
      $nav.removeClass( 'nav-dot-current' );
      $dot.addClass( 'nav-dot-current' );
      }
      slitslider.jump( i + 1 );
      return false;
      } );
      } );
      };
      return { init : init };
      })();
      Page.init();
      /**
      * Notes:
      *
      * example how to add items:
      */
      /*
      var $items  = $('<div class="sl-slide sl-slide-color-2" data-orientation="horizontal" data-slice1-rotation="-5" data-slice2-rotation="10" data-slice1-scale="2" data-slice2-scale="1"><div class="sl-slide-inner bg-1"><div class="sl-deco" data-icon="t"></div><h2>some text</h2><blockquote><p>bla bla</p><cite>Margi Clarke</cite></blockquote></div></div>');
      // call the plugin's add method
      ss.add($items);
      */
      });





